temp_dir/
tmp/
tmp
tmp_data/
*__pycache__/
data/*
!data/*.md
mlruns/
*cookies*

SlowFast/*
cocoapi/*
coco-caption/
coco-caption/*
coval/*
fairseq/*
TimeSformer/*

weights/*
weights
results/*

.vscode/
